      h1 { font-size: 70px; }
      p  { font-size: 60px; }
      a  { font-size: 40px; }
input[type=text] {
 padding: 10px;
  border: solid 5px #c9c9c9;
  font-size: 50px;
  text-align: center; 
  transition: border 0.3s;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
}
.disable-button {
    background-color: #AF4C50; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
}
.main-div {
	width:800px;
	margin:50 auto; 
	padding:30; 
	background-color:gray;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
