
<table>
	<tr>
		<td>
			<b>Sanftes Wecken</b>
		</td>
		<td>
			{% set settingsActive=config['SectionBellFader']['DefaultOn'] %}
			{% with 
				configSection='SectionBellFader', 
				configKey='DefaultOn', 
				dependencies='SectionBellFader_TimespanInSeconds'
			 %}
			{% include 
				"settings_checkbox.html"  
			%}

			{% endwith %}
		</td>
	</tr>
	<tr>
		<td>
			Wie viele Sekunden?
		</td>

		<td>
			{% set configValue=config['SectionBellFader']['TimespanInSeconds'] %}
			{% with
				configSection='SectionBellFader',
				configKey='TimespanInSeconds',
				inputDisabled=false if settingsActive=="Yes" else true
				
			%}

			{% include 
				"settings_input.html"  
			%}

			{% endwith %}
		</td>
	</tr>
</table>
