{% extends "layout.html" %}
{% block body %}
<h1>Wecker Einstellungen</h1>
<form name="configureSettingsForm" action="{{html_links['configure_settings']}}" onsubmit="return validateConfigureSettingsForm()">
	<input type="hidden" name="update_settings" />
	{% include "configure_turn_off.html" %}
	{% include "configure_fade_in.html" %}
	{% include "configure_alarm_stream.html"  %}
	<p>
		<input type="submit" class="button" value="Speichern">
	</p>
</form>

{% include "configure_streams.html"  %}
    
{% endblock %}
