<html>
<head>

<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/raspradio.css') }}">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/checkbox_slider.css') }}">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/tools.css') }}">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/select_days.css') }}">
<script type=text/javascript src="{{url_for('static', filename='js/select_days.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/select_time.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/configure_checkbox.js') }}"></script>
</head>
<body bgcolor="#E6E6FA">
	<a href="{{html_links['list_alarms']}}">Wecker</a>
	<a href="{{html_links['player']}}">Player</a>
	<a href="{{html_links['configure_settings']}}">Einstellungen</a>
    <div class="main-div">
   	{% block body %}{% endblock %}
    </div> 
</body>

</html>
