{% extends "layout.html" %}
{% block body %}
<div id="divNewAlarm">
<form name="newAlarmForm" action="{{html_links['list_alarms']}}" onsubmit="return validateNewAlarmForm()">
	{% include 'select_time.html' %}
	<table>
		<tr>
			<td>
				Wiederholen
			</td>
			<td>
				<label class="switch">
					<input type="checkBox" name="selectDaysSlider" id="selectDaysSlider" onclick='show_or_hide_days()'>
					<span class="checkbox_slider"></span>
				</label>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<div disabled="disabled">
				{% include 'select_days.html' %}
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" class="button" value="OK">
			</td>
		</tr>		
	</table>
</form> 
</div>



    
{% endblock %}
