<table>
	<tr>
		<td align="center">
			Mo
		</td>
		<td align="center">
			Di
		</td>
		<td align="center">
			Mi
		</td>
		<td align="center">
			Do
		</td>
		<td align="center">
			Fr
		</td>
		<td align="center">
			Sa
		</td>
		<td align="center">
			So
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name="checkMo" value="Yes" id="checkMo">
		</td>
		<td>
			<input type="checkbox" name="checkDi" value="Yes" id="checkDi">
		</td>
		<td>
			<input type="checkbox" name="checkMi" value="Yes" id="checkMi">
		</td>
		<td>
			<input type="checkbox" name="checkDo" value="Yes" id="checkDo">
		</td>
		<td>
			<input type="checkbox" name="checkFr" value="Yes" id="checkFr">
		</td>
		<td>
			<input type="checkbox" name="checkSa" value="Yes" id="checkSa">
		</td>
		<td>
			<input type="checkbox" name="checkSo" value="Yes" id="checkSo">
		</td>
	</tr>
</table>
