<table>
	<tr>
		<td><button type="button" class="button_time_up_down" onclick="button_time_up_down_click(1,0)">+</button></td>
		<td><button type="button" class="button_time_up_down" onclick="button_time_up_down_click(0,1)">+</button></td>
	</tr>
	<tr>
		<td>
			<input type="text" id="hour" name="hour" value="00" maxlength="2" size="2">
		</td>
		<td>
			<input type="text" id="minute" name="minute" value="00" maxlength="2" size="2">
		</td>
	</tr>
	<tr>
		<td><button type="button" class="button_time_up_down" onclick="button_time_up_down_click(-1,0)">-</button></td>
		<td><button type="button" class="button_time_up_down" onclick="button_time_up_down_click(0,-1)">-</button></td>
	</tr>
</table>
