<html>
<head>

</head>
<body bgcolor="#E6E6FA">
    <a href="alarm">back</a>

    {% if streams %}
        <h1>Bekannte Streams</h1>
<table>
    {% endif %}
    {% for stream in streams %}
  <tr>
<td>{{stream.name}}</td><td><a href="{{stream.url}}">{{stream.url}}</a></td>
      <td><form action="/alarm/app/v1.0/streams">
          <input type="hidden" name="deleteme" value="{{stream.name}}" />
          <input type="submit" class="button" value="DEL" />
          </form>
      </td>
</tr>
    {% endfor %}
    {% if streams %}
</table>
    {% endif %}
    <h1>Neuer Stream</h1>
    <form name="streamConfig" action="/alarm/app/v1.0/streams">
          Name: <input type="text" name="name">
    	  Url: <input type="text" name="stream">
          <br />
	  <input type="submit" class="button" value="OK">
    </form>
</body>

</html>
